li {
  list-style: none;
  padding: 0;
  margin: none;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

ul {
  display: flex;
}

mat-toolbar {
  background-color: black;
}

.logo {
  width: 90px;
  vertical-align: middle;
}

button {
  color: white;
}
