<mat-card>
  <form (submit)="onAddPost(f)" #f="ngForm">
    <mat-form-field>
      <input matInput type="text" ngModel name="title" required minlength="5" #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title with at least 5 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" ngModel name="content" required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
    
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>