:host {
  display: block;
  margin-top: 1rem;
}
.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.mat-paginator {
  margin-top: 1rem;
}

.book-list {
  background-color: #3E5962;
  width: 80vw;
  position: absolute;
  bottom: 2px;
}

.book-year {
font-family: Righteous;
float: left;
font-size: 2em;
}
.book-creator {
  width: 100%;
height: 100px;
background-color: #DAA520;
font-family: Righteous;
font-size: 2em;
position: absolute;
top:40%;
cursor: pointer;
}
.book-card {
height: 96%;
width: 250px;
position: absolute;
background-color: white;

top: 2%;
}
.arrow-left{
  width: 0; 
height: 0; 
border-top: 30px solid transparent;
border-bottom: 30px solid transparent; 
border-right:30px solid black; 
position: absolute;
left: 10px;
top: 45%;
cursor: pointer;
}
.arrow-right{
  width: 0; 
height: 0; 
border-top: 30px solid transparent;
border-bottom: 30px solid transparent; 
border-left: 30px solid black; 
position: absolute;
right: 10px;
top: 45%;
cursor: pointer;
}
.book-container {
  width: 100vw;
background-color: #3E5962;
height: 80vh;
margin-top: 30px;
position:relative;
display: flex;
}
.book-edit-button {
  width: 100%;
height: 60px;
background-color: #DAA520;
font-family: Righteous;
font-size: 2em;
position: absolute;
bottom:0;
box-sizing: border-box;
padding: 20px 0;
text-align: center;
cursor: pointer;
}

.book-list {
  height: 400px;
  position: relative;
}

.book-image {
  margin: 2%;
  width: 96%;
}

.book-title {
  position: absolute;
  bottom: 0;
}
.container {
  position: relative;
  height: calc(100% - 60px);
}