<!-- <mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }} {{post.yearWritten }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" alt="post.title" />
    </div>
    <p>{{ post.description }}</p>
    <p>My word count goal is: {{ post.goal }} and my current word count is {{ post.wordCount[post.wordCount.length-1].count }}</p>
    <div *ngFor="let wordCount of post.wordCount">
      <p>{{wordCount.count}}</p>
    </div>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <a mat-button color="accent" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="posts.length === 0">
  There are no posts yet
</p> -->
<div class="book-list" *ngIf="posts.length > 0">
  <div class="arrow-left" (click)="onArrowClicked($event)"></div>
  <div *ngFor="let post of posts; let i = index">
    <div
      class="book-card"
      [ngStyle]="{ left: (100 / postsPerPage) * i + 5 + '%' }"
      *ngIf="userIsAuthenticated && userId === post.creator"
    >
      <div class="container">
        <div class="book-year">{{ post.yearWritten }}</div>
        <div>
          <img [src]="post.imagePath" alt="post.title" class="book-image" />
        </div>
        <div class="book-title">
          <h2 style="margin: 10px">{{ post.title }}</h2>
        </div>
      </div>
      <a [routerLink]="['/edit', post.id]">
        <div class="book-edit-button">EDIT</div>
      </a>
    </div>
    <div class="arrow-right" (click)="onArrowClicked($event)"></div>
  </div>
</div>
<!-- <mat-paginator
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  (page)="onChangedPage($event)"
  *ngIf="posts.length > 0"
></mat-paginator> -->
<a [routerLink]="['/create']">
  <button mat-raised-button color="primary">Create New Book</button>
</a>
