<h3 class="text-center">Welcome to</h3>
<h1 id="title">Fanowrimo</h1>
<p class="invitation spacing">
  <span class="willyou">Will you accept the challenge?</span>
  Will you write an entire novel in one month this year? Now is your chance to make it happen!
   We seek to help you write your novels for
  National Novel Writing Month while keeping it all about the family. 
  Each year there will be a new theme for your writing. We hope you will record your novels details and progress here so you can share it with your writing family!
</p>
<a [routerLink]="['/create']">
  <button class="create-book" mat-raised-button color="primary">
    Create New Book
  </button>
</a>
<div id="challenge" ngClass="spacing">
  <p class="theme">Theme</p>
  <p class="challenge-text">"One word at a time"</p>
</div>
<iframe
  class="video"
  width="420"
  height="315"
  src="https://www.youtube.com/embed/ZXsQAXx_ao0"
>
</iframe>
<br />
<br />
